<div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="id">Id</label>
			<div class="col-sm-10">	
				<input type="text" class="form-control" id="id" ng-model="filter.id" ng-change="applyFilter()" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="description">Descrizione</label>
			<div class="col-sm-10">	
				<input type="text" class="form-control" id="description" ng-model="filter.description" ng-change="applyFilter()">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="project">Progetto</label>
			<div class="col-sm-10">	
				<select class="form-control" id="project" ng-model="filter.project" ng-options="project.name for project in projects" ng-change="applyFilter()">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="user">Utente</label>
			<div class="col-sm-10">	
				<select class="form-control" id="user" ng-model="filter.user" ng-options="(user.name + ' ' + user.surname) for user in users" ng-change="applyFilter()">
					<option value=""></option>
				</select>
			</div>
		</div>
	</form>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="clearFilter()">Rimuovi filtri</button>
	</div>
</div>

<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Id</th>
				<th>Oggetto</th>
				<th>Progetto</th>
				<th>Utente</th>
				<th>Stato</th>
				<th>Data</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bug in bugs">
				<td>{{$index + 1}}</td>
				<td>{{bug.id}}</td>
				<td>{{bug.subject}}</td>
				<td>{{bug.project.name}}</td>
				<td>{{bug.user.alias}}</td>
				<td>{{bug.status.value}}</td>
				<td>{{bug.date | date:'dd/MM/yyyy'}}</td>
				<td class="text-right">
					<button ng-click="openEditDialog(bug)" type="button" aria-label="Modifica bug" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
				</td>
			</tr>
		</tbody>
	</table>

	<button ng-click="openEditDialog()" type="button" class="btn btn-primary pull-right">Nuovo bug</button>
</div>
