<div class="modal-header">
	<h3 class="modal-title">{{isNew ? 'Nuovo bug' : 'Dettaglio bug'}}</h3>
</div>
<div class="modal-body">
	<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert.id)">{{alert.msg}}</alert>
	<form role="form" class="form-horizontal">
		<div class="form-group" data-ng-class="validation.id.cssClass" data-ng-hide="isNew">
			<label for="id" class="col-sm-2">ID</label>
			<div class="col-sm-10">	
				<input type="text" class="form-control" id="id" placeholder="ID univoco" data-ng-model="bug.id" tooltip="{{validation.id.message}}" readonly>
			</div>
		</div>
		<div class="form-group" data-ng-class="validation.subject.cssClass">
			<label for="subject" class="col-sm-2">Oggetto</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="subject" placeholder="Oggetto del bug" data-ng-model="bug.subject" tooltip="{{validation.subject.message}}">
			</div>
		</div>
		<div class="form-group" data-ng-class="validation.description.cssClass">
			<label for="description" class="col-sm-2">Descrizione</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="description" placeholder="Descrizione del bug" data-ng-model="bug.description" tooltip="{{validation.description.message}}">
			</div>
		</div>
		<div class="form-group" data-ng-class="validation.project.cssClass">
			<label for="project" class="col-sm-2">Progetto</label>
			<div class="col-sm-10">
				<select class="form-control" id="project" placeholder="Progetto" data-ng-model="bug.project" data-ng-options="project.name for project in projects track by project.code" tooltip="{{validation.project.message}}">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="form-group" data-ng-class="validation.user.cssClass">
			<label for="user" class="col-sm-2">Utente</label>
			<div class="col-sm-10">
				<select class="form-control" id="user" placeholder="Utente assegnatario" data-ng-model="bug.user" data-ng-options="(user.name + ' ' + user.surname) for user in users track by user.alias" tooltip="{{validation.user.message}}">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="form-group" data-ng-class="validation.status.cssClass" data-ng-hide="isNew">
			<label for="status" class="col-sm-2">Stato</label>
			<div class="col-sm-10">
				<select class="form-control" id="status" placeholder="Stato del bug" data-ng-model="bug.status" data-ng-options="status.value for status in statuses track by status.code" tooltip="{{validation.status.message}}">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="form-group" data-ng-class="validation.date.cssClass">
			<label for="date" class="col-sm-2">Data</label>
			<div class="col-sm-10">
				<p class="input-group">
				<input type="text" class="form-control" id="date" placeholder="Data" data-ng-model="bug.date" datepicker-popup="dd/MM/yyyy" is-open="datePickerOpened">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" data-ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" data-ng-click="cancel()">Annulla</button>
	<button class="btn btn-primary" data-ng-click="ok()">OK</button>
</div>
