<div class="jumbotron">
  <h1>Bug tracker</h1>
  <h2>Demo application</h2>
  <p class="lead">
		Applicazione dimostrativa per il workshop ESL.
    <img src="images/eng-medium.png" alt="Engineering logo"><br>
  </p>
</div>

<div class="row marketing">
  <h4>Del testo</h4>
  <p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas,
		neque sit amet suscipit dapibus, urna lacus fermentum ex, eget volutpat mi
		massa sit amet quam. Cras nec urna ut ante placerat sodales. Morbi congue
		congue neque, sed hendrerit nibh bibendum a. Quisque et quam quis odio
		faucibus rutrum. Integer auctor accumsan elit, vel rutrum enim bibendum
		non. Donec ac ultrices leo. Curabitur quis ligula quis turpis pretium
		semper.
  </p>

  <h4>Altro testo</h4>
  <p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas,
		neque sit amet suscipit dapibus, urna lacus fermentum ex, eget volutpat mi
		massa sit amet quam. Cras nec urna ut ante placerat sodales. Morbi congue
		congue neque, sed hendrerit nibh bibendum a. Quisque et quam quis odio
		faucibus rutrum. Integer auctor accumsan elit, vel rutrum enim bibendum
		non. Donec ac ultrices leo. Curabitur quis ligula quis turpis pretium
		semper.
  </p>
</div>
