<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Codice</th>
				<th>Nome</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td>{{$index + 1}}</td>
				<td>{{project.code}}</td>
				<td>{{project.name}}</td>
				<td class="text-right">
					<button ng-click="openEditDialog(project)" type="button" aria-label="Modifica progetto" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
					<button ng-click="openDeleteDialog(project)" type="button" aria-label="Elimina progetto" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
				</td>
			</tr>
		</tbody>
	</table>

	<button ng-click="openEditDialog()" type="button" class="btn btn-primary pull-right">Nuovo progetto</button>
</div>
